.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.img {
  height: 300px;
}

@media screen and (min-width: 768px) {
  .img {
    height: 250px;
  }
}
